body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(23, 33, 49);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}
h1{
    color: rgb(0, 179, 255);
}
p{
    text-align: center;
    color: aliceblue;
}

